@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #5c2dd5;
  --secondary: #01c853;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}
